In [1]:
# !pip install pandas flask sqlalchemy 
# !pip freeze > requirements.txt

In [2]:
#package for mysqldb  connector
# !pip install mysqlclient

In [3]:
import pandas as pd

## 7. Find whether there are more  male/female patients .

In [4]:

def group_by_gender(df):
    count_df = patient_df.groupby('patient_gender').count().sort_values(by='patient_id',ascending=False)
    count_df = count_df[['patient_id']]
    return count_df.rename(columns={'patient_id':'count'}).reset_index()

In [12]:

patient_df = pd.read_csv('patient.csv')
group_by_gender(patient_df)

  patient_gender  count
0              M      3
1              F      2

testing pavckage

In [11]:

from pd_functions import functions as f

import pandas as pd

patient_df = pd.read_csv('patient.csv')

f.group_by_gender(patient_df)

  patient_gender  count
0              M      3
1              F      2

## 8. patient born after 1985

In [9]:
# function to list patient born after 1990
# def after_1990(df):

patient_df = pd.read_csv('patient.csv')
#patient born after 1990
patient_df.query('patient_dob> 1985')

#create new df with only patient_name and patient_dob
patient_df[['patient_name','patient_dob']]

      patient_name  patient_dob
0  BaburamShrestha         1990
1     AksheySigdel         1995
2     ShijalPoudel         1987
3     MemoshaJoshi         1980
4       PujanDahal         1976

In [13]:
from pd_functions import functions as f
patient_df = pd.read_csv('patient.csv')
f.after_1985(patient_df)

      patient_name  patient_dob
0  BaburamShrestha         1990
1     AksheySigdel         1995
2     ShijalPoudel         1987
3     MemoshaJoshi         1980
4       PujanDahal         1976