In [1]:
# !pip install pandas flask sqlalchemy 
# !pip freeze > requirements.txt

In [2]:
#package for mysqldb  connector
# !pip install mysqlclient

In [3]:
import pandas as pd

## 7. Find whether there are more  male/female patients .

testing pavckage

In [4]:

from pd_functions import functions as f

import pandas as pd

patient_df = pd.read_csv('patient.csv')

f.group_by_gender(patient_df)

  patient_gender  count
0              M      7
1              F      3

## 8. patient born after 1985

In [5]:
from pd_functions import functions as f
patient_df = pd.read_csv('patient.csv')
f.after_1985(patient_df)

          patient_name  patient_dob
0     baburam shrestha         1990
1        akshey sigdel         1995
2        Shijal Poudel         1987
3        Memosha Joshi         1980
4          Pujan Dahal         1976
5     Pallavi Shrestha         1998
6         Saurav Karki         1975
7  Amrit Prasad Phuyal         2000
8       Pradip Sapkota         1985
9         Aayush Malla         1991

## 9. name of doc trating most no of unique patients

In [6]:
from pd_functions import functions as f
patient_df = pd.read_csv('patient.csv')
doctor_df = pd.read_csv('doctor.csv')

f.most_unique_patients(patient_df,doctor_df)

     doctor_name  count
0  Asmita Gautam      3
1   Milan Poudel      2
2   Rimi Pradhan      2
3   Amrit Pandey      1
4  Ashok Baskota      1
5  Basanta Panta      1

## 10. Patient(details)  paying highest bill amount

In [7]:
from pd_functions import functions as f
patient_df = pd.read_csv('patient.csv')
bill_df = pd.read_csv('bill.csv')

f.highest_bill(patient_df,bill_df)

       patient_name  total_bill_amount
0  baburam shrestha              55500
1     Memosha Joshi              40000
2       Pujan Dahal              22000
3      Aayush Malla              18000
4     Shijal Poudel              15000
5     akshey sigdel              12000
6      Saurav Karki              11000

## 11. City  from which most patient are visiting

In [8]:
from pd_functions import functions as f
patient_df = pd.read_csv('patient.csv')

f.most_patients_city(patient_df)

  patient_city  count
0     Lalitpur      3
1    Kathmandu      2
2    Bhaktapur      1
3      Chitwan      1
4         Dang      1
5       Dharan      1
6      Pokhara      1

## 12. same city doctor patient

In [9]:
f.same_city(patient_df,doctor_df)

    patient_name   doctor_name patient_city doctor_city
3  akshey sigdel  Rimi Pradhan    Kathmandu   Kathmandu
4  Shijal Poudel  Rimi Pradhan    Kathmandu   Kathmandu

## 13. Calculate the bill amount each doc has collected for the hospital and name the highest.

In [10]:
from pd_functions import functions as f
f.highest_bill_doctor(patient_df, doctor_df, bill_df)

     doctor_name  total_bill_collected
0  Asmita Gautam                 95500
1   Rimi Pradhan                 27000
2  Basanta Panta                 22000
3   Amrit Pandey                 18000
4   Milan Poudel                 11000

## 14. specialization this hospital is famous for ( popularity is measured by no. of patient visiting those doctors with specialization)

In [11]:
from pd_functions import functions as f
f.most_popular_specialization(patient_df, doctor_df)

  doctor_specialization  count
0            cardiology      3
1      general medicine      3
2         endocrinology      2
3          neurosurgery      1
4           orthopedics      1

## # 15. Display Room no  and patient  who stayed in hospital for longer duration.

In [12]:
room_df=pd.read_csv('room.csv')
bill_df=pd.read_csv('bill.csv',parse_dates=['admit_date','discharge_date'])

In [13]:
f.longest_stay(patient_df,bill_df)

   room_id      patient_name duration_of_stay
2      101  baburam shrestha          15 days
7      105       Pujan Dahal          11 days
8      202      Saurav Karki          11 days
6      104     Memosha Joshi          10 days
4      102     akshey sigdel           9 days
9      205      Aayush Malla           9 days
1      101  baburam shrestha           7 days
0      101  baburam shrestha           5 days
5      103     Shijal Poudel           5 days
3      101  baburam shrestha           4 days

## 16. Capitalize all   patient name and update to database

In [14]:
f.capitalize_name(patient_df)

  patient_name_capitalized
0         Baburam Shrestha
1            Akshey Sigdel
2            Shijal Poudel
3            Memosha Joshi
4              Pujan Dahal
5         Pallavi Shrestha
6             Saurav Karki
7      Amrit Prasad Phuyal
8           Pradip Sapkota
9             Aayush Malla