In [2]:
# !pip install pandas flask sqlalchemy 
# !pip freeze > requirements.txt

In [3]:
#package for mysqldb  connector
# !pip install mysqlclient

In [4]:
import pandas as pd

## 7. Find whether there are more  male/female patients .

testing pavckage

In [5]:

from pd_functions import functions as f

import pandas as pd

patient_df = pd.read_csv('patient.csv')

f.group_by_gender(patient_df)

  patient_gender  count
0              M     20
1              F     10

## 8. patient born after 1985

In [6]:
from pd_functions import functions as f
patient_df = pd.read_csv('patient.csv')
f.after_year(patient_df,2000)

   patient_name  patient_dob
17  mohan gupta         2002
25  rahul thapa         2010

## 9. name of doc treatting most no of unique patients

In [7]:
from pd_functions import functions as f
patient_df = pd.read_csv('patient.csv')
doctor_df = pd.read_csv('doctor.csv')

f.most_unique_patients(patient_df,doctor_df)

     doctor_name  count
0  Ashok Baskota      7
1  Asmita Gautam      7
2   Rimi Pradhan      7
3  Basanta Panta      5
4   Milan Poudel      4

## 10. Patient(details)  paying highest bill amount

In [8]:
from pd_functions import functions as f
patient_df = pd.read_csv('patient.csv')
bill_df = pd.read_csv('bill.csv')

f.highest_bill(patient_df,bill_df)

            patient_name  total_bill_amount
0           hari ghimire              60000
1         anisha sapkota              48000
2         pradip sapkota              45000
3           ram shrestha              42000
4          santosh thapa              40000
5       sunira marhattha              40000
6        nitesh tamrakar              33000
7         prashant aryal              28000
8           sagar gurung              27000
9          nishma dhakal              26000
10           sandesh rai              26000
11           pujan dahal              25000
12      kritika adhikari              22000
13          saurav karki              21000
14      pallavi shrestha              18000
15         memosha joshi              16000
16           maya gurung              15000
17    poshan rajbhandari              14000
18      krishna adhikari              12000
19         sandeep gouli              12000
20           mohan gupta              12000
21        srijana kunwar              10000
22          aayush malla              10000
23         shijal poudel               9000
24   amrit prasad phuyal               8000
25           rahul thapa               5000
26           riya vaidya               4000
27      baburam shrestha               4000
28  shyam kumar shrestha               4000
29         akshey sigdel               4000

## 11. City  from which most patient are visiting

In [9]:
from pd_functions import functions as f
patient_df = pd.read_csv('patient.csv')

f.most_patients_city(patient_df)

  patient_city  count
0    Kathmandu      7
1     Lalitpur      7
2      Chitwan      4
3    Bhaktapur      3
4         Dang      3
5       Dharan      3
6      Pokhara      3

## 12. same city doctor patient

In [10]:
f.same_city(patient_df,doctor_df)

        patient_name    doctor_name patient_city doctor_city
4   krishna adhikari  Asmita Gautam    Kathmandu   Kathmandu
9       ram shrestha   Rimi Pradhan     Lalitpur    Lalitpur
12    prashant aryal   Rimi Pradhan     Lalitpur    Lalitpur
18       riya vaidya  Basanta Panta      Chitwan     Chitwan
21      hari ghimire   Milan Poudel      Pokhara     Pokhara
25     sandeep gouli  Ashok Baskota    Kathmandu   Kathmandu
29       sandesh rai  Ashok Baskota    Kathmandu   Kathmandu

## 13. Calculate the bill amount each doc has collected for the hospital and name the highest.

In [11]:
from pd_functions import functions as f
f.highest_bill_doctor(patient_df, doctor_df, bill_df)

     doctor_name  total_bill_collected
0   Rimi Pradhan                183000
1   Milan Poudel                141000
2  Basanta Panta                117000
3  Ashok Baskota                107000
4  Asmita Gautam                 92000

## 14. specialization this hospital is famous for ( popularity is measured by no. of patient visiting those doctors with specialization)

In [12]:
from pd_functions import functions as f
f.most_popular_specialization(patient_df, doctor_df)

  doctor_specialization  count
0            cardiology      7
1      general medicine      7
2           orthopedics      7
3          neurosurgery      5
4         endocrinology      4

## # 15. Display Room no  and patient  who stayed in hospital for longer duration in one admission only.

In [13]:
room_df=pd.read_csv('room.csv')
bill_df=pd.read_csv('bill.csv',parse_dates=['admit_date','discharge_date'])

In [14]:
f.longest_stay(patient_df,bill_df)

    room_id          patient_name  duration_of_stay
22      103        anisha sapkota                16
14      104          hari ghimire                15
21      102        prashant aryal                14
13      103          ram shrestha                14
12      102         nishma dhakal                13
29      102           sandesh rai                13
20      101      krishna adhikari                12
11      101         sandeep gouli                12
10      102      kritika adhikari                11
28      103       nitesh tamrakar                11
9       101          aayush malla                10
19      104      sunira marhattha                10
8       105        pradip sapkota                 9
27      103          sagar gurung                 9
7       101   amrit prasad phuyal                 8
18      105         santosh thapa                 8
6       103          saurav karki                 7
26      102    poshan rajbhandari                 7
5       103      pallavi shrestha                 6
17      102           mohan gupta                 6
4       105           pujan dahal                 5
25      101           rahul thapa                 5
0       101      baburam shrestha                 4
16      101  shyam kumar shrestha                 4
3       104         memosha joshi                 4
24      105           maya gurung                 3
2       103         shijal poudel                 3
1       102         akshey sigdel                 2
15      105        srijana kunwar                 2
23      104           riya vaidya                 1

## 16. Capitalize all   patient name and update to database

In [16]:
f.capitalize_name(patient_df) 

# type

   patient_name_capitalized
0          Baburam Shrestha
1             Akshey Sigdel
2             Shijal Poudel
3             Memosha Joshi
4               Pujan Dahal
5          Pallavi Shrestha
6              Saurav Karki
7       Amrit Prasad Phuyal
8            Pradip Sapkota
9              Aayush Malla
10         Kritika Adhikari
11            Sandeep Gouli
12            Nishma Dhakal
13             Ram Shrestha
14             Hari Ghimire
15           Srijana Kunwar
16     Shyam Kumar Shrestha
17              Mohan Gupta
18            Santosh Thapa
19         Sunira Marhattha
20         Krishna Adhikari
21           Prashant Aryal
22           Anisha Sapkota
23              Riya Vaidya
24              Maya Gurung
25              Rahul Thapa
26       Poshan Rajbhandari
27             Sagar Gurung
28          Nitesh Tamrakar
29              Sandesh Rai